html,body{
    margin: 0;
    padding:0;
    /* overflow-x: hidden !important; */
}
#headimg{
    height: 64px;
    width: 168px;
    margin: 25px;
}
.sidemenu{
    top:0;
    right: 0px;

    margin: 0;
    padding: 0;
    background-color: midnightblue;
    /* color:tomato; */
    height: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: fit-content; */
    /* float: right; */
    /* right: 0; */
    position: fixed;
    transition: all 0.5s ease;
}
.sidemenu > img{
    margin-left: 115px;
    margin-bottom: 0px;
    margin-top:10px;
 
   width:80px;
}
.progressbar li{
    overflow-y: visible !important;
    font-weight: bold;
    color: white;
    list-style: none;
    padding:2px;
    margin: 25px;
    position:relative;
    font-size: 16px;
    margin: 9px 4px 28px 19px;
}
.progressbar li::before {
    font-size: 18px;
    /* content: '0'; */
    font-weight: bolder;
    content: counter(step);
    counter-increment: step;
    width: 38px;
    height: 38px;
    border: 2px solid red;
    display: inline-block;
    margin-right: 10px;
    padding: 3px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    border-radius: 8px;
    color: red;
}
.progressbar{
    /* padding-left: none !important; */
    counter-reset:step;
    padding:20px;
}
.progressbar li:after {
    content: '';
    position: absolute;
    width: 2px;
    height: 57%;
    background-color: #fff;
    /* z-index: -1; */
    right: 226px;
    top: 44px;
}
.progressbar li:last-child:after{
    content:none;
}
.progressbar li:hover:before{
    background-color: tomato;
}


.xyz{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 40px;
    position: relative;
    height:855px;
    width: 65%;
}
.basic-details .titles{
    font-size: 2em;
    line-height: 48px;
    padding-bottom: 20px;
    /* padding-left: 50px; */
}
.insideHeading{
    font-size: 1.6em;
    /* margin:10px 0; */
    margin-top:50px;
    padding-left: 5px !important;
} 
.contact-form .form-field{
    position: relative;
    margin:28px 0;
}
.contact-form .input-text{
    display: block;
    width: 80%;
    height:36px;
    border-width:0 0 2px 0;
    font-size:16px;
    line-height:20px;
    font-weight: 400;
    opacity: 0.8;
    padding-left:9px;
}
.contact-form .input-text:focus{
    outline: none;
}
.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label{
    transform:translateY(-24px);
}

.contact-form .label{
    position:absolute;
    left:11px;
    bottom:2px;
    font-size:14px;
    line-height: 28px;
    font-weight:400;
    cursor: text;
    text-transform: capitalize;
    transition: transform 0.2s ease-in-out;
}
.btn-top {
    position: relative;
    font-weight: 600;
    width: max-content;
    height: 40px;
    border: none;
    color: black;
    font-family: 'Source Sans Pro',sans-serif;
    background-color: #6C63FF;
    border-radius: 8px;
    font-size: 14px;
    box-shadow: inset 0 0 0 0 rgb(134 200 255);
    transition: ease-in-out 0.3s;
}
.btn-top:hover{
    box-shadow:inset 300px 0 0 0 #F50057;
    cursor:pointer;
    color: white;
    padding-top: 3px;
}
.dpdwn{
    border:0px;
    outline:0px;
}
 select {
    border: none;
    outline: none;
    scroll-behavior: smooth;
}
.form-select-lg {
    padding-top: 0.5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    font-size: 1.05rem;
    margin-top: 33px;
    width:80%;
}
.form-select {
    display: block;
    width: 100%;
    padding: .375rem 2.25rem .375rem 0;
    margin-bottom: auto;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    border:none;
}
.form-select .input-text:focus{
    outline: none;
}
#check{
    /* float: right; */
    top:0;
    right:0;
    position: absolute;
}
#check{
    display: none;
}
label #btn,label #cancel{
    display: none;
    position: absolute;
    background: #042331;
    border-radius: 3px;
    cursor: pointer;
}
label #btn{
    display: none;
    right: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
}
label #cancel{
    display: none;
    z-index: 1111;
    right: -185px;
    top: 17px;
    font-size: 30px;
    color: #0a5275;
    padding: 4px 9px;
    transition: all .5s ease;
  }
  @media screen and (max-width: 1070px){
    .sidemenu{
        display: none;
    }
    label #btn,label #cancel{
        display: unset;
    }
  
    #check:checked ~ .sidemenu{
        display: unset;
        right: 0;
    }
    #check:checked ~ label #btn{
        right: 314px;
        opacity: 0;
        pointer-events: none;
    }
    #check:checked ~ label #cancel{
        right: 245px;
    }
    #check:checked ~ section{
        margin-right: 250px;
    }
    section{
        /* background: url(bg.jpeg) no-repeat;
        background-position: center;
        background-size: cover;
        height: 100vh;*/
        transition: all .5s;
        /* height: 200vh; */
    }
      
  }